@charset "UTF-8";

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

nav ul li {
  padding: 10px;
  margin: 5px;
  list-style: none; /* リストのマーカーを非表示にする */
}

nav ul li a {
  text-decoration: none; /* リンクの下線を削除 */
  color: #333; /* リンクの文字色を設定 */
  display: block; /* リンク全体をクリック可能にする */
}

body {
  background-color: #3b43b5;
  font-family: 'Verdana','Hiragino Sans','Meiryo','sans-serif'
}

h1 {
  font-size: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 20px;
  padding: 6px  0;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}
  
img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

}

a {
  background-color: #fffda8;
  display: block;
  padding: 20px 0;
  border-radius: 4px;
  color: #2a459d;
  font-weight: bold;
  width: 300px;
  margin: 20px auto;
}

p,ul{
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  margin: 20px auto;
}

li {
  margin-bottom: 20px;
  margin: 20px auto;
}
